.a .a_e {
  display: none;
}

.a .a_md {
  padding-top: 1.875rem;
}

.cv-b_b,
.cv-b_a,
.cv-b_x {
  transition: all 0.25s;
}

.a .a_c > h1 {
  font-family: "Marcin Ant B Cn";
  font-style: normal;
  font-weight: 900;
  color: #00638f;
  font-size: 36px;
  line-height: 36px;
  letter-spacing: -0.72px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto 30px;
  margin-bottom: 0;
  padding: 80px 10px 10px;
  box-sizing: border-box;
}

.a .a_c > h1:after {
  content: "";
  display: block;
  width: 68px;
  height: 1px;
  margin: 27px auto 4px;
  background: #00638f;
  position: relative;
  bottom: auto;
  top: auto;
}

.a .a_c > h2 {
  color: rgba(0, 29, 41, 0.71);
  font-family: MarcinAntB;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.08px;
  text-align: center;
  padding: 16px 20px 10px;
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 0;
}

.a .a_c > h2 b {
  font-weight: 700;
}

.a .a_c > h2:after {
  content: none;
  display: none;
}

.a .a_c > h2 + .raw_html {
  margin-top: 0;
}

.a .a_c > h1,
.a .a_c > h2,
.comparador-videos {
  background: #ecf3f7;
  width: 100vw;
  margin-left: calc(50% - 50vw);
}

.apertura {
  background: lightblue;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  padding: 7% 7% 110px;
  box-sizing: border-box;
}

.apertura_textos {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 590px;
  text-align: right;
  padding: 30px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}

.apertura_textos:before {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background: white;
  position: absolute;
  top: 0;
  right: 0;
  animation: ancho100 1s forwards 2s;
}

.apertura_textos:after {
  content: "";
  display: block;
  width: 0;
  height: 4px;
  background: #00b1ff;
  position: absolute;
  top: -4px;
  left: 0;
  animation: ancho25 1s forwards 3s;
}

.apertura_textos h1 {
  font-family: MarcinAntB;
  font-style: normal;
  font-weight: 700;
  color: white;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -0.75px;
  margin: 0 0 25px;
  opacity: 0;
  visibility: visible;
  animation: opacidad 1s forwards 3s;
}

.apertura_textos h1 strong {
  font-style: normal;
  display: block;
}

.apertura_textos h2 {
  font-family: MajritTxRoman;
  font-style: normal;
  font-weight: 400;
  color: white;
  font-size: 17px;
  line-height: 19px;
  letter-spacing: -0.08px;
  width: 80%;
  max-width: 370px;
  margin: 0 0 30px;
  opacity: 0;
  visibility: visible;
  animation: opacidad 1s forwards 3s;
}

.apertura_fotos,
.apertura_fotos span {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.apertura_fotos .apertura_fotos_a {
  width: 0%;
  animation: ancho50 1s forwards 1s;
  z-index: 2;
  border-right: 1px solid #979797;
}

.apertura_fotos img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.apertura_fotos .apertura_fotos_a img {
  object-position: center;
}

.apertura_fotos .apertura_fotos_b img {
  object-position: top right;
}

.apertura .bajar {
  display: inline-block;
  text-align: left;
  margin: 0 4px 0 0;
  position: relative;
  z-index: 1;
  opacity: 0;
  visibility: visible;
  animation: bajar 3s infinite 3s, opacidad 1s forwards 3s;
}

.apertura .bajar span {
  display: block;
  text-indent: -9999px;
  overflow: hidden;
  width: 15px;
  height: 15px;
  border-top: 1px solid white;
  border-right: 1px solid white;
  transform: rotate(135deg);
}

@media (min-width: 768px) {
  .a .a_md {
    padding-top: 3.125rem;
  }

  .a .a_c > h1,
  .a .a_c > h2 {
    padding-left: 13vw;
    padding-right: 13vw;
  }

  .apertura_textos {
    padding: 46px 40px;
  }

  .apertura_textos h1 {
    font-size: 50px;
    line-height: 50px;
    letter-spacing: -1.17px;
    margin: 0 0 25px;
  }

  .apertura_textos h2 {
    font-size: 21px;
    line-height: 23px;
    letter-spacing: -0.1px;
  }
}

@media (min-width: 1001px) {
  .a .a_c > h1 {
    padding-top: 90px;
    font-size: 50px;
    line-height: 50px;
    letter-spacing: -1px;
  }

  .a .a_c > h1,
  .a .a_c > h2 {
    padding-left: 33vw;
    padding-right: 33vw;
  }

  .a .a_c > h2 {
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.1px;
  }

  .apertura {
    justify-content: flex-start;
    padding-right: 50%;
  }

  .apertura .bajar span {
    width: 22px;
    height: 22px;
  }

  .apertura_fotos .apertura_fotos_a img {
    object-position: left;
  }
}

@media (min-width: 1199px) {
}

@media (min-width: 1801px) {
  .a .a_c {
    max-width: 957.33px;
  }

  .a .a_c > h1,
  .a .a_c > h2 {
    padding-left: 38.5vw;
    padding-right: 38.5vw;
  }
}

@keyframes opacidad {
  50% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes ancho25 {
  100% {
    width: 25%;
  }
}

@keyframes ancho50 {
  100% {
    width: 50%;
  }
}

@keyframes ancho100 {
  100% {
    width: 100%;
  }
}

@keyframes bajar {
  0%,
  100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-0.5rem);
  }
  50% {
    transform: translateY(0rem);
  }
  75% {
    transform: translateY(-0.25rem);
  }
}

/* cabecera */
.z-he .csw {
  /* seccion y alertas */
  display: none;
}

@media (min-width: 768px) {
  .z-he .x-ph {
    min-height: 53px;
  }

  .z-he .x.x-nf {
    padding-top: 0;
    padding-bottom: 0;
  }

  .z-he .x-nf .x_w {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .z-he .x-nf .x_e {
    /* edicion */
    display: none;
  }

  .z-he .x-nf .x_bh {
    /* boton hamburguesa */
    margin-top: 0;
  }

  .z-he .x-nf .ep_l {
    /* contenedor logo EP */
    grid-column: 4/6;
    margin-top: 0;
  }

  .z-he .x-nf .ep_l .ep_e {
    /* logo EP */
    background-size: auto 28px;
    background-position: center 2px;
  }
}

@media (min-width: 1001px) {
  .z-he .x-nf .ep_l {
    /* contenedor logo EP */
    grid-column: 5/9;
  }
}

/* apertura */
#elpais_gpt-SKIN,
#elpais_gpt-INTER,
#elpais_gpt-NSTD1,
#elpais_gpt-SKY1,
#elpais_gpt-SKY2,
#fusion-app .ad-giga-1 {
  /* siempre quitamos publidad de los skys y cabecera porque choca con las aperturas */
  display: none !important;
}

.apertura {
  height: calc(100vh - 53px); /* 52 = cabecera */
}

.textvideo{
  width: 45%;
  margin: 70px auto;
  text-align: center;
}

.titprin{
    width: 100vw;
    margin-left: calc(50% - 50vw);
    font-style: normal;
    font-weight: 900;
    color: #00638F;
}

h2 {
  color: rgba(0,29,41,0.71);
  font-style: normal;
  font-weight: 400;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    opacity: 0.8;
    -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
}