body{
	background: #d8d8d8;
  font-family: Arial, Helvetica, sans-serif;
}
.containerblanco{
	width: 90%;
    margin: 40px auto;
    background: #fff;
}
.tit_nota1 .logoecu {
  position: absolute;
  float: right;
  right: 3%;
  top: 12%;
  width: 10%;
}
.tit_nota1 .title_principal {
    text-transform: uppercase;
    font-size: 5rem;
    font-weight: bold;
    padding: 7% 5% 3%;
    max-width: 68%;
    line-height: 1;
}
.tit_nota1 .text2 {
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: bold;
  padding: 0 5% 0;
}
.tit_nota1 .imgpost {
  position: relative;
}
.tit_nota1 .imgpost .imgn1 {
  width: 100%;
}
.tit_nota1 .imgpost .newpost {
    width: 290px;
    height: 35vh;
    background: #0b109f;
    position: absolute;
    top: 68%;
    left: 4%;
    color: #fff;
}
.tit_nota1 .imgpost .newpost .bloque1 {
  margin: 70px 35px;
}
.tit_nota1 .imgpost .newpost .bloque1 .textnew {
  font-size: 50px;
  color: #8190f9;
  margin: 0;
  line-height: 0.5;
  font-weight: 300;
}
.tit_nota1 .imgpost .newpost .bloque1 .textpost {
  font-size: 85px;
  margin: 0;
  padding: 0;
  font-weight: 700;
}
.tit_nota1 .imgpost .newpost .url {
  background: #5386d9;
  position: absolute;
  left: -20%;
  top: 67%;
  padding: 15px 60px;
  font-weight: bold;
  font-size: 23px;
}
.tit_nota1 .titulon1 {
  font-size: 50px;
  margin: 75px 30px 0px 50px;
  font-weight: 700;
  line-height: 1;
  color: black;
}
.tit_nota1 .resumen {
  margin: 20px 30px 0px 50px;
  color: black;
  font-size: 20px;
  line-height: 1.3;
}
.group {
    padding: 10%;
}
.resumen_group{
  color: black;
  font-size: 18px;
  line-height: 1.3;
}
.text_par {
    object-position: top;
    -webkit-mask-image: linear-gradient(to top,transparent 0,black 80%);
}
.btn-center{
  text-align: center;
}
h2.title_principal {
    margin-top: 0px;
}
.btn-nota {
    background: #0b109f;
    color: #fff;
    text-decoration: none;
    padding: 10px 25px;
}
.rows{
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
}
.w-50 {
    flex: 50%;
    margin: 5px;
}
.w-50 img{
  width: 100%;
}
.images_s {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    row-gap: 12px;
}
.image_small {
    max-height: 318px;
    overflow: hidden;
}
.image_small img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.w-60 {
  margin: 5px;
  flex: 60%;
}
.w-40 {
  margin: 5px;
  flex: 40%;
}

.rows .image_big {
    width: 100%;
}

.bg-blue {
    background: #0b109f;
    color: #fff;
    position: relative;
}
.pt-0{
  padding-top: 0px;
}
.resumen_group_blue {
    font-size: 1.5rem;
    padding: 5px 30px;
    position: relative;
    overflow: hidden;
}
.resumen_group_blue:before {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(0deg, rgb(11 16 159) 0%, rgb(11 16 159) 10%, transparent 100%);
    bottom: 0px;
    position: absolute;
    left: 0px;
}
.bg-text .btn-nota {
    background: #fff;
    color: #000;
}
.bg-text {
    position: absolute;
    height: 100%;
    background: #0b109f;
    top: -100px;
}
.bg-text .btn-center {
    text-align: center;
    z-index: 80;
    height: 49px;
    position: absolute;
    width: 100%;
    bottom: 0px;
}